<div class="page-layout">
    <div>
        <app-header></app-header>
    </div>
    <div class="main-content">
    <div class="anime-tile" *ngFor="let tile of anime" routerLink="./anime-detail/{{tile.anime_id}}" (click)="stopLoad()">
            <div class="image-side">
                <img src= "{{tile.image_url}}"  alt=" {{ tile.anime_title }} poster ">
            </div>
            <div class="info-side">
                <div class="title">
                    {{ tile.anime_title }}
                </div>
                <div class="footer">
                    <span> {{ tile.anime_type }} </span>
                </div>
            </div>
          </div>      
    </div>
    <div class="paginator">
        <app-paginator [activePage]="pageNb" (paginationClicked)="updatePage($event)" ></app-paginator>
    </div>
</div>
