<h3> Login </h3>
<form>
    <nb-card>
        <nb-card-body class="example-items-col">
            <label for="username">Username:</label>
            <input type="text" nbInput fullWidth shape="semi-round" fieldSize="medium" id="username" status="primary" placeholder="Your Username" required>
            <label for="email">Email</label>
             <input type="email" nbInput fullWidth shape="semi-round" fieldSize="medium" id="email" placeholder="Your Password" required>
            <label for="password">Password</label>
             <input type="password" nbInput fullWidth shape="semi-round" fieldSize="medium" id="password" placeholder="Your Password" required>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton type="submit" routerLink="/anime-home-page" fullWidth status="success">Success</button>
        </nb-card-footer>
      </nb-card>
</form>