<h3> Login </h3>

<form #loginForm="ngForm"> 
    <!-- {{ loggingUser | json }} -->
    <div class="username-container" id="username-field">
        <input type="email" id="username" #emailField="ngModel" autocomplete="off" name="username" [(ngModel)]="loggingUser.email" required>
        <label for="username">Email: <span>*</span></label>
    </div>
    <div class="password-container">
        <input type="password"  id="password" autocomplete="off" name="password"  [(ngModel)]="loggingUser.password" required>
        <label for="password">Password: <span>*</span></label>
    </div>
    <button type="submit" (click)="login()" [disabled]='loginForm.invalid'>Login!</button>
</form>
<aside>
    <div>
        <span>or  </span> <span routerLink="../register">Register</span>
    </div>
</aside> 



 