form{
    padding: 1.5rem;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.233);
    border-radius: 5px;
    height: 60%;
    width: 100%;
  
  
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .credentials-container{
    height: 70%;
    position: relative;
  
    display: flex;
    flex-direction: column;
  }
  
  .password-container{
    height: 50%;
    position: relative;
  
    margin-bottom: 2%;
  }
  
  .email-container{
    height: 50%;
    position: relative;
    margin-bottom: 2%;
  }
  
  button{
    height: 20%;
    margin: auto 0;
  }
  
  
  input{
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 0.9rem;
    width: 100%;
    height: 100%;
    padding: 6.5% 5px 0 5px;
    /* margin-bottom: 1; */
    color: whitesmoke;
  }
  
  
  label{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    pointer-events: none;
    border-bottom: thin solid var(--secondary-color);
  }
  
.radio-container{
  height: 25%;
  display: flex;
  padding: 0.5rem 0; 
}

.radio-container > div{
  width: 35%;
  display: flex;
}



.radio-container label{
  position: initial;
  border: none;
}

button{
  width: 40%;
  padding: 2% 4%;
  margin-top: 4%;
  color: whitesmoke;
  font-family: 'Sigmar One', cursive;
  border: thin solid var(--secondary-color);
  background-color: transparent;
  outline: none;
  border-radius: 5px;
  box-shadow: inset 0 0 4px var(--accent-color);
}

button:hover{
  box-shadow: inset 0 0 8px var(--accent-color);
}

button:active{
  position: relative;
  top: 1px
}

@media screen and ( min-width: 900px ){
  button{
    width: 20%;
    padding: 1% 2%;
  }
}

input + label span{
  font-size: 0.9rem;
}

/* Style for invalid elements: */
input.ng-touched.ng-invalid + label{
  border-bottom: thin solid var(--warn-color);
}

input.ng-touched.ng-invalid + label span{
  color: var(--warn-color);
}

button:disabled{
  box-shadow: none;
  opacity: 0.5;
}
